<!DOCTYPE html>
<html lang="fr">
  <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Vérification licences CNM - {{ title }}</title>
      <link rel="stylesheet" href="styles.css">
      <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  </head>
  <body class="text-lg md:text-base">
    {% include "nav" %}

    {% block content %}{% endblock content %}

    {% include "toast-success" %}
    {% include "toast-error" %}

    <footer>
        <a href="/">Accueil</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script type="module">
        import init from '/pkg/wasm.js';
        import * as app from '/pkg/wasm.js';


        async function run() {
            await init();
            initFlowbite();

            window.app = app;
        }

        await run();
    </script>
  </body>
</html>
