<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8"/>
      <title>Vérification licences CNM - {{ title }}</title>
      <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include "nav" %}

    {% block content %}{% endblock content %}

    <footer>
        <a href="/">Accueil</a>
    </footer>

    <script type="module">
        import init from '/pkg/wasm_verification_licences.js';
        import * as app from '/pkg/wasm_verification_licences.js';

        async function run() {
            await init();

            window.app = app;
        }

        await run();
    </script>
  </body>
</html>
