Bonjour,

Sauf erreur de notre part, vous souhaitez prochainement participer à un événement de monocycle officiel. Pour ce faire, vous devez posséder une licence CNM/UNSLL à jour. Cependant, la vôtre a expiré.
Afin de pouvoir participer à cet événement, nous vous invitons à vous rapprocher de votre club ou à souscrire à une licence individuelle. Pour cette dernière option, la procédure se trouve ici : https://monocycle.info/licence-sportive/.

Nous nous tenons à votre disposition pour toute question,
Sportivement,
La Commission Nationale Monocycle