{% import "membership" as macro %}

{% extends "base" %}

{% block content %}
   <table>
       {% for membership in memberships %}
           {{ macro::render_membership(membership=membership) }}
       {% endfor %}
   </table>
{% endblock content %}
