{% macro render_member(member) %}
    <tr {% if member.end_date | is_in_the_past %} class="bg-red-300" {% endif %}>
        <td>{{ member.firstname }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.membership_number }}</td>
        <td>{{ member.end_date | date(format="%d-%m-%Y") }}</td>
        <td><a href="mailto:{{ member.email_address }}">{{ member.email_address }}</a></td>
    </tr>
{% endmacro input %}