<template id="member-to-check">
    <div class="member-to-check">
        <div>Membre à vérifier</div>
        <div>Numéro d'adhésion : <div class="membership-number"></div></div>
        <div>Nom : <div class="name"></div></div>
        <div>Prénom : <div class="first-name"></div></div>
    </div>
</template>
