{% import "fileo/membership" as macro %}

{% extends "fileo/fileo-base" %}

{% block fileo_content %}
   <table>
       {% for membership in memberships %}
           {{ macro::render_membership(membership=membership) }}
       {% endfor %}
   </table>
{% endblock %}
