name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Update Cargo
        run: rustup update
      - name: Install coverage tool
        run: cargo install cargo-tarpaulin
      - name: Run tests
        run: cargo tarpaulin -o Stdout -o Html
      - name: Archive code coverage result
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: tarpaulin-report.html
